[Desktop Entry]
Encoding=UTF-8
Name=Telestai Core
Comment=Connect to the Telestai P2P Network
Comment[de]=Verbinde mit dem Telestai peer-to-peer Netzwerk
Comment[fr]=Telestai, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Telestai, eşten eşe kriptografik sanal para birimi
Exec=telestai-qt %u
Terminal=false
Type=Application
Icon=telestai128
MimeType=x-scheme-handler/telestai;
Categories=Office;Finance;
