policy_module(telestai, 1.100.1)

########################################
#
# Declarations
#

type telestai_t;
type telestai_exec_t;
init_daemon_domain(telestai_t, telestai_exec_t)

permissive telestai_t;

type telestai_initrc_exec_t;
init_script_file(telestai_initrc_exec_t)

type telestai_conf_t;
files_type(telestai_conf_t)

type telestai_var_lib_t;
files_type(telestai_var_lib_t)

type telestai_var_run_t;
files_type(telestai_var_run_t)

type telestai_port_t;
corenet_port(telestai_port_t)

########################################
#
# telestai local policy
#
allow telestai_t self:process { fork };

allow telestai_t self:fifo_file rw_fifo_file_perms;
allow telestai_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(telestai_t, telestai_conf_t, telestai_conf_t)
manage_files_pattern(telestai_t, telestai_conf_t, telestai_conf_t)

manage_dirs_pattern(telestai_t, telestai_var_lib_t, telestai_var_lib_t)
manage_files_pattern(telestai_t, telestai_var_lib_t, telestai_var_lib_t)
files_var_lib_filetrans(telestai_t, telestai_var_lib_t, { dir file })

manage_dirs_pattern(telestai_t, telestai_var_run_t, telestai_var_run_t)
manage_files_pattern(telestai_t, telestai_var_run_t, telestai_var_run_t)

sysnet_dns_name_resolve(telestai_t)
corenet_all_recvfrom_unlabeled(telestai_t)

allow telestai_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(telestai_t)
corenet_tcp_sendrecv_generic_node(telestai_t)
corenet_tcp_sendrecv_all_ports(telestai_t)
corenet_tcp_bind_generic_node(telestai_t)

gen_require(`
    type telestai_port_t;
')
allow telestai_t telestai_port_t:tcp_socket name_bind;

gen_require(`
    type telestai_port_t;
')
allow telestai_t telestai_port_t:tcp_socket name_connect;

domain_use_interactive_fds(telestai_t)

files_read_etc_files(telestai_t)

miscfiles_read_localization(telestai_t)

sysnet_dns_name_resolve(telestai_t)

allow telestai_t telestai_exec_t:file execute_no_trans;
allow telestai_t self:process setsched;
corecmd_exec_ls(telestai_t)
corenet_tcp_connect_http_port(telestai_t)
dev_read_urand(telestai_t)
fs_getattr_xattr_fs(telestai_t)
kernel_read_system_state(telestai_t)
