
## <summary>policy for telestai</summary>


########################################
## <summary>
##	Transition to telestai.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`telestai_domtrans',`
	gen_require(`
		type telestai_t, telestai_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, telestai_exec_t, telestai_t)
')


########################################
## <summary>
##	Execute telestai server in the telestai domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`telestai_initrc_domtrans',`
	gen_require(`
		type telestai_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, telestai_initrc_exec_t)
')


########################################
## <summary>
##	Search telestai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`telestai_search_lib',`
	gen_require(`
		type telestai_var_lib_t;
	')

	allow $1 telestai_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read telestai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`telestai_read_lib_files',`
	gen_require(`
		type telestai_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, telestai_var_lib_t, telestai_var_lib_t)
')

########################################
## <summary>
##	Manage telestai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`telestai_manage_lib_files',`
	gen_require(`
		type telestai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, telestai_var_lib_t, telestai_var_lib_t)
')

########################################
## <summary>
##	Manage telestai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`telestai_manage_lib_dirs',`
	gen_require(`
		type telestai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, telestai_var_lib_t, telestai_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a telestai environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`telestai_admin',`
	gen_require(`
		type telestai_t;
		type telestai_initrc_exec_t;
		type telestai_var_lib_t;
	')

	allow $1 telestai_t:process { ptrace signal_perms };
	ps_process_pattern($1, telestai_t)

	telestai_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 telestai_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, telestai_var_lib_t)

')

